section#contacto.form__contact{
    display: flex;
    padding: 64px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.form__contact__contact{
    display: flex;
    padding-top: 64px;
    align-items: flex-end;
    gap: 16px;
    padding-inline: 10vh;
}
.form__contact--left{
    width: 400px;

}
img.form__contact__img{
    height: 500px;

}
.form__contact__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 22px;
    flex: 1 0 0;
    width: 100%;

}
h2.form__contact__title{
    color: var(--preto-100, #464646);
    font-size: 32px;
    font-weight: 700;

}
h3.form__contact__subtext{
    color: var(--preto-100, #464646);
    font-size: 16px;
    font-weight: 500;
}


.form__contact__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.input__container{
    position: relative;
    margin: 20px;
}


.input__field , .form__contact__textarea{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--preto-30, #C8C8C8);
    outline: none;
    border-radius: 4px;
    padding: 5px;
    background-color: white;
}   
.input__label {
    position: absolute;
    top: 0.5vh;
    left: 2vh;
    font-size: 14px;
    pointer-events: none;
    transition: all 0.3s ease;
    color: var(--cor-placeholder);
}


  /* Input field:focus styles */

 /* .input__field:focus + .input__label{
    top: -20px;
    font-size: 12px;
    color: #007bff;
    width: 100%;
  }  */

.input__label-focus{
    top: -20px;
    font-size: 12px;
    color: #007bff;
    width: 100%;
  }

  .form__contact__textarea:focus + .input__label{
    top: -20px;
    font-size: 12px;
    color: #007bff;
  }


button.form__contact__button{
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--cor-de-blue);
    color: var(--preto-branco, #FFF);
    font-size: 16px;
    border-style: none;
}

.input-message-error {
    display: none;
  }

  /*Tablet*/
@media only screen and (max-width: 768px){
    section.form__contact {
        width: 100%;
    }

    .form__contact__contact {
     padding: 0;
     gap: 0;
     margin: 4vh;
    }
    
        .form__contact--left {
        display: none;
    }

    h2.form__contact__title{
        font-size: 22px;
        margin-bottom: 1vh;
    }
    h3.form__contact__subtext {
        font-size: 16px;
    }
    .form__contact__text {
        gap: 5px;
    }
}